body {
    align-items: center;
    background-image: url(IMG_7592.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.clockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    height: 100vh;
}
#clock {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 3em;
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    background-color: rgba(13, 13, 14, 0.258);
    font-size: 5em;
    font-style: bold;
}
