body {
    background-image: url(IMG_7592.jpeg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.clockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#clock {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.193);
    font-size: 6em;
}
